<h1>Create New Ad</h1>
<%= form_for (@ad) do |f| %>
    <label>Name:</label>
    <%= f.text_field(:name)%><br>
    <%= f.label(:client_id)%>
    <%= f.collection_select :client_id, Client.all, :id, :name %><br>
    <%= f.label(:ad_type)%>
    <select name="Ad Type:"><br>
        <option value="digital">Digital</option>
        <option value="social_media">Social Media</option>
        <option value="traditional">Traditional</option>
    <%= f.label(:picture)%><br>
    <%= f.file_field(:picture)%><br>
    <%= f.label(:location)%>
    <%= f.text_field(:location)%><br>
    <%= f.label(:target_age)%>
    <%= f.text_field(:target_age)%><br>
    <%= f.label(:copy)%>
    <%= f.text_area(:copy)%><br>
    <%= f.label(:start_date)%>
    <%= f.date_field :start_date, as: :date %><br>
    <%= f.label(:end_date)%>
    <%= f.date_field :end_date, as: :date %><br>
    <%= f.label(:cost)%>
    <%= f.text_field(:cost)%><br>
    <%= f.submit %>
    <% end %>