<h2><%= @ad.name %></h2>
<h3>Name: </h3>
<%= @ad.name %>
<h3>Client: </h3>
<%= @ad.client.name %>
<h3>Ad Type: </h3>
<%= @ad.ad_type %>
<h3>Picture: </h3>
<%= @ad.picture %>
<h3>Location: </h3>
<%= @ad.location %>
<h3>Target Age: </h3>
<%= @ad.target_age %>
<h3>Copy: </h3>
<%= @ad.copy %>
<h3>Duration: </h3>
<%= @ad.duration %>
<h3>Cost: </h3>
<%= @ad.cost %>


