<div class = "indentation">

<h2><%= @ad.name.capitalize %></h2>
<div>
  <%= link_to "Edit Ad", edit_ad_path(@ad) %>
</div><br>
<h3>Name: </h3>
<%= @ad.name.capitalize %><br><br>
<h3>Client: </h3>
<%= @ad.client.name.capitalize %><br><br>
<h3>Ad Type: </h3>
<%= @ad.ad_type.capitalize %><br><br>
<h3>Picture: </h3>
<img src = <%= @ad.picture %> alt = "<% @ad %>"><br><br>
<h3>Location: </h3>
<%= @ad.location.capitalize %><br><br>
<h3>Target Age: </h3>
<%= @ad.target_age %><br><br>
<h3>Copy: </h3>
<%= @ad.copy.capitalize %><br><br>
<h3>Start Date: </h3>
<%= @ad.start_date %><br><br>
<h3>End Date: </h3>
<%= @ad.end_date %><br><br>
<h3>Cost: </h3>
<%= @ad.cost %> <%= @ad.currency %><br><br>

<%= link_to "BACK TO HOMEPAGE", users_path %><br><br>

</div>
