<h2><%= @ad.name.capitalize %></h2>
<div>
  <%= link_to "Edit Ad", edit_ad_path(@ad) %>
</div>
<h3>Name: </h3>
<%= @ad.name.capitalize %>
<h3>Client: </h3>
<%= @ad.client.name.capitalize %>
<h3>Ad Type: </h3>
<%= @ad.ad_type.capitalize %>
<h3>Picture: </h3>
<img src = <%= @ad.picture %> alt = "<% @ad %>">
<h3>Location: </h3>
<%= @ad.location.capitalize %>
<h3>Target Age: </h3>
<%= @ad.target_age %>
<h3>Copy: </h3>
<%= @ad.copy.capitalize %>
<h3>Start Date: </h3>
<%= @ad.start_date %>
<h3>End Date: </h3>
<%= @ad.end_date %>
<h3>Cost: </h3>
<%= @ad.cost %> <%= @ad.currency %>







