<h2>Create New Report</h2>
<%= form_for (@ad) do |f| %>
    <label>Campaign</label>
    <%= f.text_field(:campaign_id)%><br>
    <%= f.label(:name)%>
    <%= f.text_string(:name)%><br>
    <%= f.label(:report_type)%>
    <%= f.text_string(:report_type)%><br>
    <%= f.label(:client)%>
    <%= f.text_string(:client)%><br>
    <%= f.label(:duration)%>
    <%= f.text_string(:duration)%><br>
    <%= f.label(:roi)%>
    <%= f.text_float(:roi)%><br>
    <%= f.label(:impressions)%>
    <%= f.text_number(:impressions)%><br>
    <%= f.label(:views)%>
    <%= f.text_number(:views)%><br>
    <%= f.label(:clicks)%>
    <%= f.text_number(:clicks)%><br>
    <%= f.label(:reach)%>
    <%= f.text_number(:reach)%><br>
    <%= f.label(:conversions)%>
    <%= f.text_float(:conversions)%><br>
    <%= f.submit %>
    <% end %>