<h2>Edit Employee</h2>
<%= form_for (@employee) do |f| %>
    <label>Name</label>
    <%= f.text_field(:name)%><br>
    <%= f.label(:title)%>
    <%= f.text_field(:title)%><br>
    <%= f.label(:company_id)%>
    <%= f.collection_select :company_id, Company.all, :id, :name %><br>
    <%= f.label(:email)%>
    <%= f.text_field(:email)%><br>
    <%= f.label(:photo)%>
    <%= f.file_field(:photo)%><br>
    <%= f.submit %>
    <%= form_tag employee_path(@employee.id), method: "delete" do %>
        <%= submit_tag "Delete #{@employee.name}" %>
        <% end %>
    <% end %>