<h2><%= @employee.name %></h2>
<h3>Photo: </h3>
<img src = <%= @employee.photo %> alt = "<% @ad %>">
<h3>Name: </h3>
<%= @employee.name %>
<h3>Title: </h3>
<%= @employee.title.capitalize %>
<h3>Company: </h3>
<%= @employee.company.name %>
<h3>Email: </h3>
<%= @employee.email %>

