<div class = "indentation">

<h1> Create a New Client </h1>

<%= form_for Client.new do |f| %>
  <%=f.label :name, "Name:" %><br>
  <%=f.text_field :name %><br><br>
  <%=f.label :logo, "Client's Logo:" %>
  <%=f.file_field :logo %><br><br>
  <%=f.label :company, "Company:" %><br>
  <%=f.collection_select :company_id, Company.all, :id, :name %><br><br>
  <%=f.submit "Create New Client"%>
<% end %>
</div>
