<h1> Create a New Client </h1>

<%= form_for Client.new do |f| %>
  <%=f.label :name %><br>
  <%=f.text_field :name %><br>
  <%=f.label :logo, "Client's Logo:" %><br>
  <%=f.file_field :logo %><br>
  <%=f.label :company %><br>
  <%=f.collection_select :company_id, Company.all, :id, :name %><br>
  <%=f.submit "Create New Client"%>
<% end %>