<h1>PROFILE</h1>
<h2><%=@company.name%></h2>

<h3><img_src>=<%=@company.logo%> alt = "Company Logo"</img_src></h3>

<h3>Company Address: <%=@company.address%></h3><br>

<h3>Website: <%=@company.website%></h3><br>
<h3>Description: <%=@company.bio%></h3><br>
<h3>Employees:  <%= @company.employee.all.name %></h3><br>
<h3>Client List: <%= link_to @company.client.all.name, client_path(@company.client)%> </h3>

<div>
  <%= link_to "Edit Company", edit_company_path(@company) %>

</div>