<h1> Edit Campaign </h1>

<%= form_for :campaign do |f| %>
  <%=f.label :name %><br>
  <%=f.text_field :name %><br>
  <%=f.label :ad %><br>
  <%=f.collection_select :ad_id, Ad.all, :id, :name %><br>
  <%=f.label :employee %><br>
  <%=f.collection_select :employee_id, Employee.all, :id, :name %><br>
  <%=f.label :client %><br>
  <%=f.text_field :client %><br>
  <%=f.submit "Edit Campaign"%>
<% end %>