<div class = "indentation">

<h1> Create a New Campaign </h1>

<%= form_for Campaign.new do |f| %>
  <%=f.label :name %><br>
  <%=f.text_field :name %><br><br>
  <%=f.label :ad %>
  <%=f.collection_select :ad_id, Ad.all, :id, :name %><br><br>
  <%=f.label :employee %>
  <%=f.collection_select :employee_id, Employee.all, :id, :name %><br><br>
  <%=f.label :client %><br>
  <%=f.text_field :client %><br><br>
  <%=f.submit "Create Campaign"%>
<% end %>

</div>
