<h2>The <%= @report.name.capitalize %> Report</h2>
<h3>Campaign: </h3>
<%= @report.campaign.name.capitalize %>
<h3>Report Type: </h3>
<%= @report.report_type.capitalize %>
<h3>Client: </h3>
<%= @report.client.capitalize %>
<h3>Duration: </h3>
<%= @report.duration %>
<h3>Return on Investment: </h3>
<%= @report.roi %>
<h3>Impressions: </h3>
<%= @report.impressions %>
<h3>Views: </h3>
<%= @report.views %>
<h3>Clicks: </h3>
<%= @report.clicks %>
<h3>Reach: </h3>
<%= @report.reach %>
<h3>Conversions: </h3>
<%= @report.conversions %>